body {
	background-color: black;
}

#container {
	width: 800px;
	height: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
}

#canvas {
	position: relative;
	width: 800px;
	height: 700px;
}

#slider {
	width: 100%;
}

p {
	color: #fff;
}